services:
  mc:
    image: itzg/minecraft-server:java17
    environment:
      TYPE: CURSEFORGE
      MEMORY: 6G
      JVM_OPTS: "-Xmx6G -Xms4G"  # Setze JVM Speicherzuweisungen
      CF_SERVER_MOD: ${CF_SERVER_MOD}
      MOTD: |-
        §1§lFurz24.de
        §7powered by §6henk.pm
      OPS: |
        Zurki
      VERSION: 1.20.1
      EULA: "true"
    ports:
      - "25565:25565"
    volumes:
      - data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 7g  # Container Speicherlimit
          cpus: "2"   # CPU Limit
volumes:
  data: {}